html, body {
  margin: 0;
  padding: 0;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

a {
  text-decoration: none;
}

header {
  position: fixed;
  z-index: 2;
  width: 100%;
}

.menu {
  position: fixed;
  top: 0;
  visibility: hidden;
  width: 100%;
  padding: 0;
}

.menu.show {
  visibility: visible;
}

.menu-nav-container {
  background-color: bisque;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  opacity: 0;
  height: 100vh;
  -webkit-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu-nav-container.show {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}

.menu-item-image {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.menu-item-image video {
  width: 50%;
  border-radius: 0.5em;
}

.menu-nav {
  width: 50%;
  height: 100vh;
  float: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  list-style: none;
  margin: 0;
  padding-left: 0;
}

.menu-nav.show li {
  -webkit-animation: fadeInRight 3s ease forwards;
          animation: fadeInRight 3s ease forwards;
  -webkit-animation-delay: .45s;
          animation-delay: .45s;
  padding: 0;
  margin: 0;
}

.menu-nav.show li:nth-of-type(2) {
  -webkit-animation-delay: .70s;
          animation-delay: .70s;
}

.menu-nav.show li:nth-of-type(3) {
  -webkit-animation-delay: .95s;
          animation-delay: .95s;
}

.menu-item {
  display: block;
  position: relative;
  opacity: 0;
}

.menu-item img {
  width: 5em;
  margin-left: 0.5em;
  -webkit-transform: translateX(-20%);
          transform: translateX(-20%);
  opacity: 0;
  -webkit-transition: all .3s ease-in;
  transition: all .3s ease-in;
}

.menu-item:hover img {
  -webkit-transform: translateX(20%);
          transform: translateX(20%);
  opacity: 1;
}

.menu-item a {
  font-size: 3rem;
  color: rgba(0, 0, 0, 0.623);
}

@-webkit-keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateY(200%);
            transform: translateY(200%);
  }
  60% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateY(200%);
            transform: translateY(200%);
  }
  60% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

.menu-btn {
  position: absolute;
  right: 2rem;
  top: 2rem;
  padding: 0.5em 0;
  cursor: pointer;
  z-index: 3;
}

.menu-btn-text-wrapper {
  position: absolute;
  right: 5em;
  top: 2em;
  z-index: 3;
  overflow: hidden;
  height: 1.3em;
}

.menu-btn-text {
  text-transform: uppercase;
  display: block;
  -webkit-transform: translateY(-1.1em);
          transform: translateY(-1.1em);
  -webkit-transition: 0.7s;
  transition: 0.7s;
}

.menu-btn-text::before {
  display: block;
  content: 'Close';
}

.menu-btn-text.show {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.menu-btn-burger {
  width: 1.9em;
  height: 0.2em;
  background: black;
  border-radius: 5px;
  -webkit-box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
          box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
  -webkit-transition: 0.7s ease-in-out;
  transition: 0.7s ease-in-out;
}

.menu-btn-burger:active {
  background-color: transparent;
}

.menu-btn-burger::before,
.menu-btn-burger::after {
  content: '';
  position: absolute;
  width: 1.9em;
  height: 0.2em;
  background: #7cc8c0;
  border-radius: 5px;
  -webkit-transition: all .2s .2s ease-in;
  transition: all .2s .2s ease-in;
  background: black;
}

.menu-btn-burger::before {
  -webkit-transform: translateY(-0.4em);
          transform: translateY(-0.4em);
}

.menu-btn-burger::after {
  -webkit-transform: translateY(0.4em);
          transform: translateY(0.4em);
}

/* ANIMATION */
.menu-btn.close .menu-btn-burger {
  -webkit-transform: rotate(315deg);
          transform: rotate(315deg);
  background: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.menu-btn.close .menu-btn-burger::before {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.menu-btn.close .menu-btn-burger::after {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
/*# sourceMappingURL=style.css.map */